@{
    ViewBag.PageName = "Attendance";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    int i = 0;
    int j = 0;
    int ClassMeetingCount = (Model.ClassMeetings as IEnumerable<IGrouping<DateTime, TeacherMeetings>>).ToList().Count;
    <link href="~/Content/Home/Attendance.css" rel="stylesheet" />
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Chart.bundle.min.js"></script>
<script src="~/Scripts/Attendance.js"></script>

<button onclick="backButtonClicked()" id="back-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored nav-button">
    <i class="material-icons">arrow_back_ios</i>
</button>

<button onclick="forwardButtonClicked()" id="forward-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored nav-button">
    <i class="material-icons">arrow_forward_ios</i>
</button>

@if (ClassMeetingCount == 0)
{
    <div id="empty-attendance-text" class="mdl-color-text--grey-600">No attendance this week.</div>
}

@using AttendanceTracker_Web.Models.DB;
@foreach (IGrouping<DateTime, TeacherMeetings> date in Model.ClassMeetings)
{
    i++;
    <div class="date-container mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--primary">
            <h2 class="mdl-card__title-text mdl-color-text--white">@date.Key</h2>
        </div>
        <div class="classes-container mdl-card mdl-cell--12-col mdl-cell">
            @foreach (var classMeeting in date)
            {
                j++;
                var chartID = string.Format("attendance-chart{0}{1}", i, j);
                var downloadButtonID = string.Format("download-attendance{0}{1}", i, j);
                <div class="class-card mdl-card mdl-shadow--2dp mdl-cell">
                    <div class="mdl-card__title mdl-card--expand mdl-color--primary">
                        <h2 class="mdl-card__title-text mdl-color-text--white">@classMeeting.Name</h2>
                    </div>
                    <div class="graph-container mdl-cell mdl-cell--12-col">
                        <canvas id="@chartID" width="200" height="200"></canvas>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a id="@downloadButtonID" class="mdl-color-text--accent mdl-button mdl-js-button mdl-js-ripple-effect">Download Attendance</a>
                        <a href="#" class="mdl-color-text--accent mdl-button mdl-js-button mdl-js-ripple-effect">Manage QR Codes</a>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $("#@downloadButtonID").on("click", function () {
                            var classID = @classMeeting.ID;
                            var dateString = "@date.Key";
                            console.log("hello");
                            downloadAttendance(classID, Date.parse(dateString))
                        });

                        data = {
                            datasets: [
                                {
                                    backgroundColor: ["#536dfe", "#c2cbff"],
                                    data: [84, 26]
                                }
                            ]
                        };
                        renderChart("@chartID", data)
                    });
                </script>
            }
        </div>
    </div>
}
